*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap : 20px;
    padding-right: 20px;
}

li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.title{
    opacity: 0;
    transform: translateY(40px);
    
}