*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #ebebeb;
}   

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:inset 0 -1px 5px rgba(14, 12, 12, 0.1);
    padding: auto 20px;
    height: 60px;
    background-color: #000000;
    color: white;
}

ul{
    list-style: none;
    display: flex;
    gap : 20px;
    padding-right: 20px;
}

li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.title{
    opacity: 0;
    transform: translateY(40px);
   
}

nav{
    opacity:0;
    transform: translateY(40px);
}

div.conteudo{
   background-image: url('imgs/fundo.png');
   background-position: center;
   background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 62vh;
    display: flex;
    image-rendering: auto;
}

.text-introducao{
  
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 20px;
    position: relative;
    top: 78%;    
}

.logo{
    font-size: 250px;
     line-height: 1;
    color: white;
    position: relative;
    transform: translate(150px, 240px);
}

.frierem{
 width: 600px;
    height: 600px;
    position: relative;
    right: 40%;
     opacity: 0 ;
     z-index: 100;
     border-radius: 5px;

}
